// Define variables for your color scheme

$color-bg: #15051D;
$color-bg-variant: #2c2c6c;
$color-primary: rgb(187, 212, 249);
$color-primary-variant: rgba(77, 181, 255, 0.4);
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);

// $color-primary: #4db5ff;
// $color-bg: #1f1f38;

