// Define variables for your color scheme

$color-bg: #7589A9;
$color-bg-variant: #5E7497;
$color-primary: rgb(187, 212, 249);
$color-primary-variant: #4F617D;
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);
